.weather-risk-container {
    /* background-image: url('/assets/icons/background.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* margin-top: 8px !important;
    margin-bottom: 8px !important; */
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin: auto !important;
    padding: 8px 0px 8px 0px;
}


/* Below is the temperatureSection Css */

.temperatureSection {
    width: 30%;
    height: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 3px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.temperatureSection_Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background: rgb(236, 236, 236);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.temperatureSection_Title>span {
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 20px;
}

.zone_circle_div {
    width: auto;
    height: 79px;
    /* background-color: #f0d89d; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 20px 30px; */
    /* border-radius: 15px; */
    border-bottom: 2px solid #818182;
}

.zone_Div {
    width: 160px;
    height: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    letter-spacing: 2px;
}

.zone_Div>span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.zone_list {
    position: absolute;
    top: 36px;
    right: 0px;
    background: white;
    padding: 3px;
    width: 160px;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.zone_list>ul>li {
    display: flex;
    justify-content: start;
    align-items: center;

}

.zone_list>ul>li>input {
    cursor: pointer;
}

.zone_list>ul>li>label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.circle_Div {
    width: 160px;
    height: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    letter-spacing: 2px;
}

.circle_Div>span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.circle_list {
    position: absolute;
    top: 36px;
    right: 0px;
    background: white;
    padding: 3px;
    width: 160px;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 185px;
    overflow-x: hidden;
    overflow-y: auto;
}

.circle_list>ul>li {
    display: flex;
    justify-content: start;
    align-items: center;

}

.circle_list>ul>li>input {
    cursor: pointer;
}

.circle_list>ul>li>label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}




/* Below is the mapDivSection Css */

.mapDivSection {
    width: 68%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 3px;
    border-radius: 15px;
}

.mapDivSection_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background: rgb(236, 236, 236);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.mapDivSection_title>span {
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 20px;
}

.mapDiv_Icon_Section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 3px 0px;
}

.mapDiv_Icon_Section_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 25px;
    border: 1px solid #eaeaea;
}



.mapDiv_Icon_Section_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 8px;
    border: 1px solid #eaeaea;
}



.mapDiv_Icon_Section_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 25px;
    border: 1px solid #eaeaea;
}


.map_container_div {
    position: relative;
    width: 930px;
    height: 515px;
    border-top: 2px inset;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
}



/* ------Temperature Data Section--------- */
.temperatureSection_Data {
    width: auto;
    height: 500px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.temperatureSection_Data_firstRow {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(175, 176, 241);
    border-radius: 15px;
}

.temperatureSection_Data_SecondRow {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(241, 210, 175);
    border-radius: 15px;
}

.temperatureSection_Data_ThirdRow {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(175, 241, 241);
    border-radius: 15px;
}

.icon_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.category_header {
    width: 100%;
    height: 49px;
    /* margin: 5px 0px; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.category_header_InsideDiv {
    display: flex;
    width: 300px;
    height: 100%;

    justify-content: space-around;
    align-items: center;
}

.category_header_InsideDiv>.very-heavy {
    background-color: #d00000;
}

.category_header_InsideDiv>.heavy {
    background-color: #f48c06;
}

.category_header_InsideDiv>.moderate {
    background-color: #ffba08;
}

.category_header_InsideDiv>.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: 80px;
    height: 40px;
}

.category_data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.category_data_1 {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------- */
.ol-popup {
    position: absolute;
    background: white;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    min-width: 260px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 1000;
    display: none;
}

.ol-popup table {
    width: 100%;
    border: 1px solid silver;
    font-size: 14px;
}

.ol-popup table tbody td {
    padding: 5px;
}

.table-heading {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    position: relative;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

#popup-closer {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

#popup-closer:hover {
    background-color: #e04344;
}

.ol-popup td {
    padding: 8px 6px;
    border-bottom: 1px solid #eee;
}

.ol-popup tr:last-child td {
    border-bottom: none;
}

/* --------- PopUP --------------- */


.risk-icon {
    font-size: 18px;
}

.export-map-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}