<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4 rounded-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4">Login</h3>
    <form (ngSubmit)="handleLogin()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">User Name</label>
        <input
          type="email"
          id="email"
          class="form-control"
          required
          name="email"
          [(ngModel)]="email"
          #emailInput="ngModel"
        />
        <div class="text-danger" *ngIf="emailInput.invalid && emailInput.touched">
          Valid email is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          required
          minlength="6"
          name="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
        />
        <div class="text-danger" *ngIf="passwordInput.invalid && passwordInput.touched">
          Password must be at least 6 characters.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </div>
</div>

