.pdf_cont {
    background-color: #FAF2E9;
    /* width: 210mm; */
    padding: 5mm;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.ol-viewport canvas {
border-bottom-left-radius: 15px !important;
border-bottom-right-radius: 15px !important;
}
.ol-attribution ul {
    border-bottom-right-radius: 15px !important;
}


